

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.content-image-1, .content-image-2, .content-image-3, .content-image-4{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-bottom:  2rem;
}

.content-image-1{
    background-image: url(../images/captain-america.jpg);
    width: 100%;
}

.content-image-2{
    background-image: url(../images/ironman.jpg);
    width: 100%;
}


.content-image-3{
    background-image: url(../images/spiderman.jpg);
    width: 100%;
}

.content-image-4{
    background-image: url(../images/thor.jpg);
    width: 100%;
}

.content-info{
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 4rem 0rem;
    margin-top: 20rem;
}

.content-info h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    font-style: normal;
    letter-spacing: 5px;
    color: rgb(53, 53, 53);

}

.content-info p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 25px;
    color: rgb(98, 98, 98);
    width: 600px;
    margin: 1rem auto 0;
}


@media screen and (max-width: 612px) {
    .content-info p{
        width: 100%;
        padding: 0 1rem;
    }

}