<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>
  <body>
    <div class="main">
      <!-- Create a Form -->
      <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %} Are you want to delete this item ?
        <input type="submit" value="Yes" />
        <a href="/">Cancel </a>
      </form>
    </div>
  </body>
</html>
