body{
    display:flex;
}

.game-container{
    width :500px;
    height:730px;
    position: absolute;
    left: 80px;
}

.border-left{
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white ;
    z-index: 2;
}
.border-right{
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white ;
    z-index: 2;
    left: 580px;
}


.border-top{
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: 2;
    top :-50px
}

.sky{
    background-image: url("fb-game-background.png");
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground{
    background-image: url("bottom-background.png");
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 1;
}

.bird{
    background-image: url("flappy-bird.png");
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstacle{
    background-image: url("flappybird-pipe.png");
    width: 60px;
    height: 300px;
    position: absolute;
}
.topObstacle{
    background-image: url("flappybird-pipe.png");
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

#demo{
    margin-left: 50px;
    font-size: 32px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#score{
    margin-left: 50px;
   
}

button{
    background-color: green;
    color: white;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
}